/* Main styles: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-image: url("../img/wave.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fafafa;
}

.without {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    font-size: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.without img {
    width: 250px;
    margin-top: 200px;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.add-task {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background: #4cd382;
    border-radius: 10px;
    z-index: 999;
    max-width: 600px;
}

.add-task button {
    width: 80px;
    padding: 5px;
    border: 0px solid #333;
    border-radius: 10px;
    font-weight: 600;
}

.add {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #4cd382;
    border-radius: 10px;
    z-index: 999;
}

.enter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    gap: 15px;
}

.enter button {
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px 7px;
    border-radius: 50%;
    font-size: 25px;
    background-color: #824cd3;
    background-position: center;
    color: #333;
    cursor: pointer;
}

.enter input {
    width: 230px;
    height: 65px;
    padding: 0px 0px 20px 10px;
    border: none;
    border-radius: 10px;
}

.days {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding: 10px 0px;
}

.days select {
    margin: 0px 10px;
    border: none;
    border-radius: 10px;
    padding: 0px 0px 0px 5px;
}

.icons-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    background: #4cd382;
    border-radius: 10px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
}

.icon-row {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.icon {
    max-width: 40px;
    cursor: pointer;
}

.iconSelected {
    border: 2px solid #ede0d4;
    border-radius: 10px;
}

.iconGen {
    max-width: 40px;
}

.pending-tasks {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task {
    width: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}


.plus {
    display: block;
    width: 65px;
    padding: 10px;
    border: 0px solid #333;
    border-radius: 60px;
    font-size: 40px;
    background-color: #4cd382;
    color: #333;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.hidden {
    display: none;
}